<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed Song</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Successfully Removed Song From Playlist!</h1>
    <div>
        <strong>Ranking: </strong><%- rank %><br>
        <strong>Song Name: </strong><%- song %><br>
        <strong>Artist(s): </strong><%- artist %><br>
        <strong>Streams: </strong><%- streams %><br>
        <hr>
        <a href="/">HOME</a>
    </div>
</body>

</html>